*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    
}
body{
    background-color:#e8e6e6;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
header ul {
    list-style: none; 
    display: flex;
    
   
}

header ul li{
    margin-right: 15px;
    
}

header a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header {
    padding: 16px  0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
    align-items: center;
    background-color: rgb(65, 65, 242) ;
    color: #fff;
}





.conteudo img{
    height: 18em;
    margin-right: 2em;
    margin-bottom: 5em;
}

.conteudo{
    display: flex;
    
}

.about h2{
    border-bottom: 2px solid rgb(65, 65, 242);
    margin-bottom: 1em;
    color:rgb(100, 100, 248)
}

.all{
    display: grid;
    grid-template-columns: 99%;
}
section h2 {
    margin-bottom: 13px;
}

.camisas  {
    display: grid;
    grid-template-columns: repeat(4,24%);
    column-gap: 1%;
    row-gap: 5%;
    
    
}

.camisas img{
width: 90%;
margin-bottom: 10%;

}
 
.camisas button{
    width: 100%;
    padding: 7px;
    font-family: Roboto, sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: #fff;
    background-color: rgb(65, 65, 242) ;
    border-radius: 8px;
    cursor: pointer;
}

section > h2{
    color:rgb(100, 100, 248);
    border-bottom: 2px solid rgb(65, 65, 242);
    padding: 10px;
    margin-bottom: 50px;
    font-weight: bolder;
}

h3, h4{
    font-weight: 500;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.718);
}

h4{
    margin-bottom: 10px;
}

footer {
    background-color: rgb(100, 100, 248) ;
    text-align: center;
    padding: 7px 0;
}


@media screen and (max-width: 767px){

    .container{
        max-width: 90%;
        width: 100%;
        display: block;
    }

    header div.container{
        flex-direction: column;
    }

    .camisas img{
        width: 100%;    
    }
    
    .conteudo > img{
        width: 100%;
        margin-right: 0em;
        margin-bottom: 0em;
    } 

    .camisas button{
        margin-bottom: 20px;
    }
    footer{
        font-size: 0.9em;
    }
   
}

@media  screen and (min-width: 768px) and  (max-width:1024px) {

    .container{
        max-width: 90%;
        width: 100%;
    
    }

    .conteudo{
        display: block;
        font-size:1.5em ;
    }

    

    .conteudo > img{
        height: 100%;
    }

    .all{
        margin-top: 40px;
        font-size: 1.5em;
    }
    .camisas  {
        display: grid;
        grid-template-columns: repeat(2,49%);
        box-sizing: border-box;
        
    }
    .conteudo > img{
        width: 100%;
        margin-right: 0em;
        margin-bottom: 0em;
    } 
  
    footer{

        margin-top: 70px;
    }

    }